

**Example schema** will be used for examples 
 - Relations: Movies(<u>mID</u>, title, director, year, length); Artists(<u>aID</u>, aName, nationality); Roles(<u>mID, aID, character</u>)
 - Foreign key constraints: Roles[mID]$\subseteq$ Movies[mID]; Roles[aID]$\subseteq$ Artists[aID]

#### Relational algebra 
 - The value of any expression is a relation
 - Assumptions
     - Relations as sets (without duplicated rows)
     - Every cell has a value
 - Operands: tables
 - Operator  examples:
   - Choose only the rows wanted
   - Choose only the columns wanted
   - combine tables

**Select Rows** $\sigma_c(R)$: $R$ table, $c$ boolean expression
  - The result is a relation with the same schema but with only the tuples satisfy $c$
  - Select all British actors  $\sigma_{\text{nationality = 'British'}}(Actors)$ 
  - Select all movies from 1970s $\sigma_{1970\leq year\leq 1979}(Movies)$

**Project** $\Pi_c(R)$ slice vertically
- onto fewer attributes can remove key that makes duplicates possible, whenever duplicates happens, only one copy of each is kept
  
- To perform multiple query together Example: find the names of all directors of movies from the 1970s $\pi_{director}(\sigma_{1970 <year<=1979}(Movies))$

**Cartesian Product** $R_1\times R_2$ map two relations to a new relation with every combination of a tuple from $R_1$ concatenated to a tuple from $R_2$
  - Resulted schema is every attribute from $R_1$ followed by $R_2$ in order
  - The resulted relation have $R_1.cardinality|\times R_2.cardinality$ tuples

**Natural join** $R_1\bowtie R_2$ take the Cartesian product and select rows with the same attribute and value  that are in both relation to ensure equality on attributes, then project to remove duplicate attributes
 - Natural join is commutative and associative

**Theta Join** $R_1\bowtie_{c} R_2:= \sigma_c{R\times S}$

**Assignment** $R:= Expression$ or $R(A_1,...,A_n):=Expression$, the second way allows to rename all the attributes
 - $R$ must be temporary and not one of the relations in the schema, it should not be updated

**Rename** $\rho_{R_1}(R_2)$ or $\rho_{R_1(A_1,...,A_n)}(R_2)$ renames the relation. Note that $R_1:=\rho_{R_1(A_1,...,A_n)}(R_2)$ is equivalent to $R_1(A_1,...,A_n):=R_2$

**Division** $R/S:=$ the largest relation $Q$ s.t. $Q\times S\subseteq R$. the operation will return a relation will all the attributes in $R$ that's not in $S$ and all tuples in $R$ that match every tuple in $S$

#### Example 

<a href="ROSI.pdf">ROSI</a>
         
- Students(<u>sID</u>, surName, campus)
- Courses(<u>cID</u>, cName, WR)
- Offerings(<u>oID</u>, cID, term, instructor)
- Took(<u>sID, oID</u>, grade)

- Offerings[cID] $\subseteq $ Courses[cID]
- Took[sID] $\subseteq$ Students[sID]
- Took[oID] $\subseteq$ Offerings[oID]

1. Student number of all students who have taken CSC343 <br>
SelectedStudents := $\Pi_{sID}$($\sigma_{cID='CSC343'}$( Took $ \bowtie $ Offer )) <br>
 or $\bowtie_{Took.oID = Offering.oID}$
 
2. $\Pi_{sID}$($\sigma_{cID='CSC343'}$( ($\sigma_{grade='A+'}$Took) $ \bowtie $ Offer )) <br>

3. $\Pi_{surName}$(SelectedStudents $\bowtie$ Students)

4. $\Pi_{surName}$($\sigma_{Courses.cID = Offerings.cID \\ \wedge Took.oID=Offering.oID\\ \wedge WR=True \\
\wedge instructor='Picky'\\
\wedge Took.sID=Students.sID \\
\wedge Grade \geq 50}$(Courses $\times$ Offerings $\times$ Students))

5.

8. Have85:= $\Pi_{sID}$($\sigma_{grade \geq 85} $Took ) <br>
 pass :=$\Pi_{sID}$($\sigma_{grade \geq 50 \wedge instructor = 'Atuwood'}$ (Offering $\bowtie$ Took))
 Have85 $\cup$ pass

11. Pairs(sID1, sID2) := $\Pi_{T1.sID, T2.SID}$($\sigma_{T1.sID < T2.sID \wedge T1.oID = T2.oID}$$\rho_{T1}$(Took) $\times\rho_{T2}$ (Took)) <br>
Students := $\rho_{P}$Pairs $\times$ $\rho_{S1}$(Student) $\times\rho_{S2}$(Student)<br>
$\Pi_{P.sID1, P.sID2, S1.surname, S2.surname}$($\sigma_{P.sID1 = S1.sID \wedge P.sID2 = S2.sID}$(Students))

17. Took $\bowtie$ Offering <br>
// get all the courses taught by Gries <br>
Taught := $\Pi_{dept, cNum}$($\sigma_{instructor = 'Gries'}$(Offering))<br><br>
// get all the courses students taken 
StudentTake = $\Pi_{sID, dept, cNum}$(Took $\bowtie$Offering)<br><br>
// Use differences to find missing courses<br>
shouldHave := ($\pi_{sID}$(Student))$\times$ Taught<br>
Missing:= shouldHave - studentTake <br>
sIDAnswer := ($\Pi_{sID}$ Student) - ($\Pi_{sID}$ Missing) <br>
answer := $\Pi_{surName, firstName}$ (sIDAnswer $\bowtie$ Student)

#### Integrity Constraints

1. 400-level courses cannot count for breadth.<br>
$\sigma_{\text{courses} \geq 400, \text{WR=True}}$(Courses) = $\emptyset$


2. In terms when csc490 is offered, csc454 must also be offered.<br>
$\Pi_{\text{term}}$($\sigma_{\text{oID=490,cID=csc}}$ (Offerings)) $\subseteq$ $\Pi_{\text{term}}$($\sigma_{\text{oID=454,cID=csc}}$ (Offerings))